*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background:lightslategray;
}


.Container{
    border-radius: 8px;
    padding: 14px;
    width: 800px;
    margin: 20px auto;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0px rgba(87, 87, 87, 0.527);
}

.header{
    
    background:linear-gradient(to bottom,#32CD32,#98FB98);;
    color: white;
    height: 70px;
  }
  
  .header a{
    color:white ;
    padding: 12px;
    font-size: 25px;
    font-family: 'Segoe UI';
    text-decoration: none;
    box-shadow: 0 8px 32px 0 rgba(0, 255, 71, 127,0.35);
  }
  
  .Logo{
    display: flex;
    justify-content:space-between;
    text-decoration: double;
    align-items: center;
  }

.boton{
    background-color:springgreen;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 10px 0px rgba(87, 87, 87, 0.527);
    color: white;
    clip-path: polygon(0% 0%, 75% 0%, 89% 49%, 75% 100%, 0 100%);
    display: inline-flex;
    margin: 10px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    transition: .5s ease all;
    width: 150px;

}
.boton:hover{
background-color:	#3CB371;
}


.Div_P{
  width: 97%;
  background-color: springgreen;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.Nboton{
  width: 97%;
  background-color: springgreen;
  border-radius: 5px;
  margin:0px;
  padding:0px;
  margin-bottom: 10px;
}

.boton1{
  align-items: center;
  background-color:springgreen;
  border: none;
  width: 100px;
  margin-right: 5px;
  padding: none;
  height: 40px;
  text-align: left;
  transition: .5s ease all;
}

.boton1:hover{
  background-color:rgba(31, 128, 60, 0.781);;
  }
  

.pregunta{
  padding: 0px;
  margin: 0px;
  width: 80;
  text-align: center;
  height: 110px;
  background-color: rgba(147, 255, 179, 0.781);
}

.text{
  border-radius: 2px;
    text-align: left;
    margin-right: 60px;
    margin-top: 10px;
    font-size: 18px;
    width: 90%;
}

.respuesta{
  border-radius: 2px;
  border-color: rgba(46, 170, 84, 0.671);
  background-color: rgba(162, 223, 180, 0.671);
  font-size: 18px;
  width: 90%;
  height: 50px;
  margin-top: 7px;
  margin-right: 50px;
}

.enviar{
  margin: 20px auto;
  text-align: center;

}

.envi{
  align-items: center;
  background-color:#00FA9A;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-flex;
  margin: 10px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: .5s ease all;
  width: 150px;
}

.envi:hover{
  background-color:#48D1CC;
}

.envi2{
  margin-left: 18px;
}
